#equation {
  border-bottom: 1vw solid white;
}

#equation #operation {
  margin-right: 0.25em;
}

#answer {
  background-color: #3c3c3c;
  border: 0;
  color: white;
  font-size: 8vw;
  margin-top: 20px;
  padding: 0;
  text-align: right;
  width: 17vw;
}

#answer::-webkit-inner-spin-button,
#answer::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[result] {
  bottom: 30%;
  font-size: 3vw;
  position: absolute;
  width: 25vw;
}

[result][correct] {
  left: -80%;
}

[result][incorrect] {
  left: -160%;
}